.month {
  display: flex;
  flex-direction: column;

  min-width: 700px;
  margin: 5px;

  .name {
    height: 25px;
    line-height: 25px;
    border-bottom: #f3f1f1fa solid 1px;
  }

  .days,
  .days-of-week {
    display: flex;
    flex-wrap: wrap;
  }

  .days-of-week {
    .day-of-week {
      width: 13.65%;
      margin: 0 1px;
      height: 25px;
      line-height: 25px;
      font-size: 0.75em;
      color: #dcdcdcfa;
    }
  }
}
