.day,
.empty-day {
  cursor: pointer;
  width: 13.55%;
  height: 75px;
  line-height: 25px;
  margin: 0 1px;
  border: 1px solid lightgrey;
}

.empty-day {
    background-color: #f3f1f1fa;
}

.day {
  &:hover {
    background: #f3f1f1fa;
  }

  &.yellow {
    background-color: lightyellow;
  }
  &.blue {
    background-color: lightblue;
  }
  &.green {
    background-color: lightgreen;
  }
  &.red {
    background-color: rgb(230, 106, 106);
  }
  &.workout {
    border: 1px solid black;
  }
}
